*{
    margin:0;
}

body{
    background-color: rgb(255, 0, 0);
}

header{
    height: 110px;
    width:100%;
    background-color: rgb(255, 0, 0); ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("img/odecima.png");
    background-position: 0px;
}


.lista{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
    align-items: center;

}

li{
    padding: 60px;
}

a{
        color:white;
        text-decoration: none;
        padding: 10px;
}
a:hover{
    background-color: white;
    color:rgb(255, 0, 0);
    padding: 10px;
}
section{
    height: 438px;
    width:100%;
    background-color: rgb(255, 0, 0);  
}

footer{
    height: 63px;
    width: 100%;
    background-color: rgb(255, 0, 0);
}

.america{
    width: 70px;
    align-items: center;
}

